<div class="container main-container">

    <div class="background-body  fade-in-fwd">

        <div class="anim-background-body  kenburns-top-left2">



        </div>


    </div>
<div>
    <div class="container content-container">
        <div class="flex-lg-row">
            <div class="draw-btn-wrap"></div>
            <button class="draw-btn" [disabled]="drawBtnEnabled" (click)="getDraw()">{{drawBtnLabel}}</button>
        </div>

        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2">

                <div class="ball-roll">
                    <div *ngIf="rollDisplay1">
                        <div class="ball-position bounce-in-top">
                            <img class="ball-img" src="../../assets/Images/drawBall.png">
                            <label class="ball-img-label">{{draw.drawNumber1}}</label>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-sm-2">
                <div class="ball-roll">
                    <div *ngIf="rollDisplay2">
                        <div class="ball-position bounce-in-top">
                            <img class="ball-img" src="../../assets/Images/drawBall.png">
                            <label class="ball-img-label">{{draw.drawNumber2}}</label>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-sm-2">
                <div class="ball-roll">
                    <div *ngIf="rollDisplay3">
                        <div class="ball-position bounce-in-top">
                            <img class="ball-img" src="../../assets/Images/drawBall.png">
                            <label class="ball-img-label">{{draw.drawNumber3}}</label>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-sm-2">
                <div class="ball-roll">
                    <div *ngIf="rollDisplay4">
                        <div class="ball-position bounce-in-top">
                            <img class="ball-img" src="../../assets/Images/drawBall.png">
                            <label class="ball-img-label">{{draw.drawNumber4}}</label>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-sm-2">
                <div class="ball-roll">
                    <div *ngIf="rollDisplay5">
                        <div class="ball-position bounce-in-top">
                            <img class="ball-img" src="../../assets/Images/drawBall.png">
                            <label class="ball-img-label">{{draw.drawNumber5}}</label>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>

        <div class="flex-lg-row">
            <div class="draw-big-line"></div>
        </div>
    </div>

</div>

</div>