
$btnLinkBackground : linear-gradient(90deg, rgb(51, 158, 207) 0%, rgba(79,209,197,1) 100%); 
$homeH1Color : #949238;


  
  .main-home-content{
    width: 100%;
    height: 100%;
    padding-top: 5rem;
  }
  
  .home-container{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
  
  .home-content-tab{
    
    padding-top: 1rem;
    z-index: 20;
    margin: 0;
      max-width: 1600px;
      position: relative;
      left: 5%;
      right: 5%;
      top: 15%;
      text-align: center;
  }
  
  
  .home-content-tab h1{
  color: $homeH1Color;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Arial";
  align-self: center;
  justify-content: center;
  justify-self: center;
  }
  
  .home-svg-h1{
      padding-top: 10px;
      padding-left: 10px;
      padding-bottom: 0;
      margin: 0;
  }
  .home-content{
      //margin-top: 50px;
      padding-top: 50px; 
      padding-bottom: 50px;
      padding-left: 50px; 
      padding-right: 50px; 
      background-color: rgba(26, 41, 41, 0.65);
      box-shadow:  5px 10px 18px #949238e6;
      height: auto;
  }
  
    
  
  
  .img-fill-div{
      max-height: 256px; height: 100%; width: 100%;object-fit: contain;
      margin-left: -120px;
  }
  
  
    
    @media (min-width: 404px) {
      .home-content-tab h1{
        font-size: 3rem;
      }
    }
    
    @media (min-width: 590px) {
      .home-content-tab h1{
        font-size: 4rem;
      }
    }
    
    @media (min-width: 720px) {
      .home-content-tab h1{
        font-size: 5rem;
      }
    }
    @media (min-width: 880px) {
      .home-content-tab h1{
        font-size: 7rem;
      }
    }
  
  .more-space-padding{
    padding-top: 50px;
  }

  .home-btn-wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home-nav-link{
    font-size: 22px;
   min-width: 300px;
  min-height: 60px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
background: $btnLinkBackground;
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79,209,197,.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  text-decoration: none;
  }

  .home-nav-link::before {
    content: '';
      border-radius: 1000px;
      min-width: calc(300px + 12px);
      min-height: calc(60px + 12px);
      border: 6px solid #00FFCB;
      box-shadow: 0 0 60px rgba(0,255,203,.64);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: all .3s ease-in-out 0s;
    }

    
    .home-nav-link:hover, .home-nav-link:focus {
  color: #313133;
  transform: translateY(-6px);
}

.home-nav-link:hover::before, .home-nav-link:focus::before {
  opacity: 1;
}

.home-nav-link::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.home-nav-link:hover::after, .home-nav-link:focus::after {
  animation: none;
  display: none;
}
